@model booking_car_app.Entities.BookingInfo
@{
    ViewData["Title"] = "Go";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<div class="text-center">
    <form onsubmit="return false;" asp-antiforgery="true">
        <h1 class="display-4">Thực hiện chuyến đi</h1>
        <p>Tên khách hàng: @Model.Name - Số điện thoại: @Model.Phone - Số tiền: @string.Format("{0:#,##0}đ", Model.UnitPrice)</p>
        <p>Điểm đón: @Model.DiemDon</p>
        <p>Điểm đến: @Model.DiemDen</p>
        <button class="btn btn-primary" data-toggle="modal" data-target="#chatbox">Gửi tin nhắn</button>
        @if (Model.Status == 2)
        {
            <button id="gotrip" class="btn btn-info" onclick="goTrip('@Model.Id')">Đã đón khách</button>
        }           
    <button id="hoanthanh" style="display: none;" class="btn btn-success" onclick="finish('@Model.Id')">Hoàn thành</button>
    </form>    
</div>
<div class="row mt-2">
    <div id="map" class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="height: 500px;">

    </div>
</div>
<div id="modal-placeholder">
    <div id="chatbox" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
        <input type="hidden" value="@Model.DiemDon" id="end"/>
        <input type="hidden" value="@Model.DiemDen" id="go"/>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Chat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="chatmessage">
                    </ul>
                    <input id="chat" class="form-control" /><button onclick="sendMessage()" class="btn btn-primary">Gửi</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var idBooking = '@Model.Id';
        //var end = '@Model.DiemDon';
    </script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/driver/handleTrip.js" asp-append-version="true"></script>
}